/*written by 
	Pankaj Kumar.*/
span
	{
		font-weight: bolder;
		animation: title 2s infinite;
	}
@keyframes title
{
	0%{color: red;}
	25%{color: #bf55ec;}
	50%{color: #bde564;}
	100%{color: #bf55ec;}
}
.main
{
	padding: 20px;
	font-size: 25px;
	font-family: 'Courier Prime', monospace;
}
.thumbnail
{
	border: none;
	margin-right: 0px;
}
.github
{
	float: right;
	margin-right: 10px;
	font-size: 25px;
}

.github:hover
{
	color: black;
	font-size: 27px;
}
.linkedin:hover
{
	color: black;
	font-size: 27px;
}
.linkedin
{
	float: left;
	margin-left: 15px;
	font-size: 25px;
}
img
{
	width: cover;
}
.team
{
	height: 85px;
}
