    .input-password{
        width:50%;
        height:25px;
        border: solid grey 1px;
        border-radius: 3px;
    }

    .main-div{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:35%;
    }

    .top{
        font-weight:lighter;
        font-size: 20px;
    }

@media screen and (max-width:1200px){
    .main-div{
        width: 60%;
    }

}

@media only screen and (max-width:767px){
        .enter{
            width:80%;
        }
    }
        
@media only screen and (max-width:360px){
        .enter{
            width:100%;
        }
    }